In [17]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy.sql.expression import asc, desc
import pandas as pd
import numpy as np

In [2]:
# Get the names of the Excel Worksheets
xls = pd.ExcelFile("MLS®_HPI_data_en.xlsx", on_demand = True)
sheets = xls.sheet_names
print(sheets)

['Aggregate', 'Vancouver_Island', 'Victoria', 'Lower_Mainland', 'Greater_Vancouver', 'Fraser_Valley', 'Calgary', 'Edmonton', 'Regina', 'Saskatoon', 'Guelph', 'Hamilton_Burlington', 'Oakville_Milton', 'Barrie_and_District', 'Greater_Toronto', 'Niagara_Region', 'Ottawa', 'Greater_Montreal', 'Greater_Moncton']

In [3]:
# Read Excel file
RealEstateDB= pd.read_excel("MLS®_HPI_data_en.xlsx", sheet_name=None)
RealEstateDf = pd.concat(RealEstateDB)
RealEstateDf.reset_index(level=0,inplace=True)
RealEstateDf.head()
RealEstateDf= RealEstateDf.rename(columns={'level_0': 'Region'})
RealEstateDf.head()

,Region,Date,Composite_HPI,Single_Family_HPI,One_Storey_HPI,Two_Storey_HPI,Townhouse_HPI,Apartment_HPI,Composite_Benchmark,Single_Family_Benchmark,One_Storey_Benchmark,Two_Storey_Benchmark,Townhouse_Benchmark,Apartment_Benchmark
0,Aggregate,2005-01-01,100.0,100.0,100.0,100.0,100.0,100.0,266800,293000,240600,334000,212900,195800
1,Aggregate,2005-02-01,100.9,101.0,101.2,100.9,100.5,100.6,269200,295900,243400,337000,214000,197000
2,Aggregate,2005-03-01,101.9,102.2,102.4,102.1,101.1,101.4,271900,299400,246300,341000,215300,198500
3,Aggregate,2005-04-01,102.8,103.2,103.4,103.0,101.8,102.1,274300,302400,248700,344000,216800,199900
4,Aggregate,2005-05-01,103.7,104.1,104.6,103.6,102.6,103.2,276700,305000,251600,346000,218500,202100

In [4]:
RealEstateDf.to_csv('mergeddataset.csv',sep=",")

In [5]:
! pip install flask_sqlalchemy

Requirement already satisfied: flask_sqlalchemy in /anaconda3/lib/python3.7/site-packages (2.3.2)
Requirement already satisfied: Flask>=0.10 in /anaconda3/lib/python3.7/site-packages (from flask_sqlalchemy) (1.0.2)
Requirement already satisfied: SQLAlchemy>=0.8.0 in /anaconda3/lib/python3.7/site-packages (from flask_sqlalchemy) (1.2.15)
Requirement already satisfied: click>=5.1 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (7.0)
Requirement already satisfied: Werkzeug>=0.14 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (0.14.1)
Requirement already satisfied: itsdangerous>=0.24 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (1.1.0)
Requirement already satisfied: Jinja2>=2.10 in /anaconda3/lib/python3.7/site-packages (from Flask>=0.10->flask_sqlalchemy) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/lib/python3.7/site-packages (from Jinja2>=2.10->Flask>=0.10->flask_sqlalchemy) (1.1.0)

In [6]:
import psycopg2
import flask_sqlalchemy
engine = create_engine('postgres://mjcfycycuflovs:6921e9b498358232d304290ebe8296b4f4c81c9bb77dd802a4bbee192c55c572@ec2-54-243-128-95.compute-1.amazonaws.com:5432/dd07ud23cca0r6', echo=False)
RealEstateDf.to_sql('RealEstate',if_exists="replace",con=engine)
engine.execute('ALTER TABLE RealEstate ADD PRIMARY KEY (Date)')

/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

ProgrammingError: (psycopg2.ProgrammingError) relation "realestate" does not exist
 [SQL: 'ALTER TABLE RealEstate ADD PRIMARY KEY (Date)'] (Background on this error at: http://sqlalche.me/e/f405)

In [8]:
#using sqlite
engine = create_engine("sqlite:///test", echo=False)
RealEstateDf.to_sql('RealEstate',if_exists="replace",con=engine)

In [12]:
result=engine.execute("select* from RealEstate").fetchall()

In [27]:
@app.route("/city")
def city_list():
    city_name=[]
    for i in result:
    city_name.append(i["Region"])
    city_name=list(set(city_name))
    print(city_name)
    return jsonify(city_name)

['Ottawa', 'Niagara_Region', 'Vancouver_Island', 'Victoria', 'Saskatoon', 'Hamilton_Burlington', 'Regina', 'Calgary', 'Greater_Moncton', 'Greater_Vancouver', 'Oakville_Milton', 'Aggregate', 'Greater_Toronto', 'Barrie_and_District', 'Lower_Mainland', 'Guelph', 'Fraser_Valley', 'Greater_Montreal', 'Edmonton']

In [ ]:
from collections import defaultdict
@app.route("/metadata/<city>")
def city_house(city):
    metadata_city=defaultdict(list)
    for i in result:
        if i[1]=="city":
            metadata_city["Date"].append(i[2])
            metadata_city["Composite_Benchmark"].append(i[8])
            metadata_city["Single_Family_Benchmark"].append(i[9])
            metadata_city["One_Storey_Benchmark"].append(i[10])
            metadata_city["Two_Storey_Benchmark"].append(i[11])
            metadata_city["Townhouse_Benchmark"].append(i[12])
            metadata_city["Apartment_Benchmark"].append(i[13])
return jsonify (metadata_city)

In [43]:
from collections import defaultdict
metadata_city=defaultdict(list)
for i in result:
        if i[1]=="Aggregate":
            metadata_city["Date"].append(i[2])
            metadata_city["Composite_Benchmark"].append(i[8])
            metadata_city["Single_Family_Benchmark"].append(i[9])
            metadata_city["One_Storey_Benchmark"].append(i[10])
            metadata_city["Two_Storey_Benchmark"].append(i[11])
            metadata_city["Townhouse_Benchmark"].append(i[12])
            metadata_city["Apartment_Benchmark"].append(i[13])
print(metadata_city)

defaultdict(<class 'list'>, {'Date': ['2005-01-01 00:00:00.000000', '2005-02-01 00:00:00.000000', '2005-03-01 00:00:00.000000', '2005-04-01 00:00:00.000000', '2005-05-01 00:00:00.000000', '2005-06-01 00:00:00.000000', '2005-07-01 00:00:00.000000', '2005-08-01 00:00:00.000000', '2005-09-01 00:00:00.000000', '2005-10-01 00:00:00.000000', '2005-11-01 00:00:00.000000', '2005-12-01 00:00:00.000000', '2006-01-01 00:00:00.000000', '2006-02-01 00:00:00.000000', '2006-03-01 00:00:00.000000', '2006-04-01 00:00:00.000000', '2006-05-01 00:00:00.000000', '2006-06-01 00:00:00.000000', '2006-07-01 00:00:00.000000', '2006-08-01 00:00:00.000000', '2006-09-01 00:00:00.000000', '2006-10-01 00:00:00.000000', '2006-11-01 00:00:00.000000', '2006-12-01 00:00:00.000000', '2007-01-01 00:00:00.000000', '2007-02-01 00:00:00.000000', '2007-03-01 00:00:00.000000', '2007-04-01 00:00:00.000000', '2007-05-01 00:00:00.000000', '2007-06-01 00:00:00.000000', '2007-07-01 00:00:00.000000', '2007-08-01 00:00:00.000000', '2007-09-01 00:00:00.000000', '2007-10-01 00:00:00.000000', '2007-11-01 00:00:00.000000', '2007-12-01 00:00:00.000000', '2008-01-01 00:00:00.000000', '2008-02-01 00:00:00.000000', '2008-03-01 00:00:00.000000', '2008-04-01 00:00:00.000000', '2008-05-01 00:00:00.000000', '2008-06-01 00:00:00.000000', '2008-07-01 00:00:00.000000', '2008-08-01 00:00:00.000000', '2008-09-01 00:00:00.000000', '2008-10-01 00:00:00.000000', '2008-11-01 00:00:00.000000', '2008-12-01 00:00:00.000000', '2009-01-01 00:00:00.000000', '2009-02-01 00:00:00.000000', '2009-03-01 00:00:00.000000', '2009-04-01 00:00:00.000000', '2009-05-01 00:00:00.000000', '2009-06-01 00:00:00.000000', '2009-07-01 00:00:00.000000', '2009-08-01 00:00:00.000000', '2009-09-01 00:00:00.000000', '2009-10-01 00:00:00.000000', '2009-11-01 00:00:00.000000', '2009-12-01 00:00:00.000000', '2010-01-01 00:00:00.000000', '2010-02-01 00:00:00.000000', '2010-03-01 00:00:00.000000', '2010-04-01 00:00:00.000000', '2010-05-01 00:00:00.000000', '2010-06-01 00:00:00.000000', '2010-07-01 00:00:00.000000', '2010-08-01 00:00:00.000000', '2010-09-01 00:00:00.000000', '2010-10-01 00:00:00.000000', '2010-11-01 00:00:00.000000', '2010-12-01 00:00:00.000000', '2011-01-01 00:00:00.000000', '2011-02-01 00:00:00.000000', '2011-03-01 00:00:00.000000', '2011-04-01 00:00:00.000000', '2011-05-01 00:00:00.000000', '2011-06-01 00:00:00.000000', '2011-07-01 00:00:00.000000', '2011-08-01 00:00:00.000000', '2011-09-01 00:00:00.000000', '2011-10-01 00:00:00.000000', '2011-11-01 00:00:00.000000', '2011-12-01 00:00:00.000000', '2012-01-01 00:00:00.000000', '2012-02-01 00:00:00.000000', '2012-03-01 00:00:00.000000', '2012-04-01 00:00:00.000000', '2012-05-01 00:00:00.000000', '2012-06-01 00:00:00.000000', '2012-07-01 00:00:00.000000', '2012-08-01 00:00:00.000000', '2012-09-01 00:00:00.000000', '2012-10-01 00:00:00.000000', '2012-11-01 00:00:00.000000', '2012-12-01 00:00:00.000000', '2013-01-01 00:00:00.000000', '2013-02-01 00:00:00.000000', '2013-03-01 00:00:00.000000', '2013-04-01 00:00:00.000000', '2013-05-01 00:00:00.000000', '2013-06-01 00:00:00.000000', '2013-07-01 00:00:00.000000', '2013-08-01 00:00:00.000000', '2013-09-01 00:00:00.000000', '2013-10-01 00:00:00.000000', '2013-11-01 00:00:00.000000', '2013-12-01 00:00:00.000000', '2014-01-01 00:00:00.000000', '2014-02-01 00:00:00.000000', '2014-03-01 00:00:00.000000', '2014-04-01 00:00:00.000000', '2014-05-01 00:00:00.000000', '2014-06-01 00:00:00.000000', '2014-07-01 00:00:00.000000', '2014-08-01 00:00:00.000000', '2014-09-01 00:00:00.000000', '2014-10-01 00:00:00.000000', '2014-11-01 00:00:00.000000', '2014-12-01 00:00:00.000000', '2015-01-01 00:00:00.000000', '2015-02-01 00:00:00.000000', '2015-03-01 00:00:00.000000', '2015-04-01 00:00:00.000000', '2015-05-01 00:00:00.000000', '2015-06-01 00:00:00.000000', '2015-07-01 00:00:00.000000', '2015-08-01 00:00:00.000000', '2015-09-01 00:00:00.000000', '2015-10-01 00:00:00.000000', '2015-11-01 00:00:00.000000', '2015-12-01 00:00:00.000000', '2016-01-01 00:00:00.000000', '2016-02-01 00:00:00.000000', '2016-03-01 00:00:00.000000', '2016-04-01 00:00:00.000000', '2016-05-01 00:00:00.000000', '2016-06-01 00:00:00.000000', '2016-07-01 00:00:00.000000', '2016-08-01 00:00:00.000000', '2016-09-01 00:00:00.000000', '2016-10-01 00:00:00.000000', '2016-11-01 00:00:00.000000', '2016-12-01 00:00:00.000000', '2017-01-01 00:00:00.000000', '2017-02-01 00:00:00.000000', '2017-03-01 00:00:00.000000', '2017-04-01 00:00:00.000000', '2017-05-01 00:00:00.000000', '2017-06-01 00:00:00.000000', '2017-07-01 00:00:00.000000', '2017-08-01 00:00:00.000000', '2017-09-01 00:00:00.000000', '2017-10-01 00:00:00.000000', '2017-11-01 00:00:00.000000', '2017-12-01 00:00:00.000000', '2018-01-01 00:00:00.000000', '2018-02-01 00:00:00.000000', '2018-03-01 00:00:00.000000', '2018-04-01 00:00:00.000000', '2018-05-01 00:00:00.000000', '2018-06-01 00:00:00.000000', '2018-07-01 00:00:00.000000', '2018-08-01 00:00:00.000000', '2018-09-01 00:00:00.000000', '2018-10-01 00:00:00.000000', '2018-11-01 00:00:00.000000', '2018-12-01 00:00:00.000000', '2019-01-01 00:00:00.000000'], 'Composite_Benchmark': [100.0, 100.6, 101.4, 102.1, 103.2, 104.2, 105.1, 105.8, 107.0, 107.5, 108.0, 109.0, 110.2, 112.0, 113.7, 116.0, 118.4, 120.4, 122.2, 123.9, 125.7, 126.2, 126.7, 126.5, 128.2, 130.1, 132.3, 134.5, 136.7, 138.3, 139.3, 140.3, 140.9, 140.9, 140.8, 140.4, 141.0, 142.0, 143.0, 143.5, 143.7, 143.6, 142.7, 142.0, 140.7, 138.7, 136.5, 134.6, 132.7, 131.5, 131.3, 132.2, 133.5, 134.7, 136.3, 137.7, 139.2, 140.2, 141.8, 143.0, 143.8, 145.3, 146.3, 147.0, 147.2, 146.6, 145.3, 144.6, 144.5, 144.6, 144.4, 144.5, 145.0, 146.4, 147.6, 148.7, 149.5, 150.2, 150.7, 150.9, 150.7, 150.6, 150.1, 149.4, 149.6, 150.2, 151.4, 152.2, 153.6, 153.7, 153.3, 153.0, 152.6, 152.5, 151.6, 151.1, 150.7, 151.3, 152.8, 154.1, 155.0, 154.9, 155.3, 155.5, 155.4, 155.4, 155.4, 155.3, 155.8, 156.8, 158.0, 158.9, 159.7, 160.9, 160.8, 161.0, 161.1, 161.9, 161.8, 161.7, 161.7, 162.2, 163.3, 164.6, 165.4, 166.1, 166.6, 167.0, 168.2, 168.8, 169.5, 169.3, 169.5, 172.3, 174.6, 176.9, 179.0, 181.9, 183.9, 185.6, 186.3, 187.8, 189.2, 189.5, 191.6, 195.4, 202.6, 209.8, 214.9, 218.1, 219.7, 220.3, 221.7, 223.7, 224.4, 226.8, 228.5, 233.0, 236.9, 239.9, 241.8, 242.2, 241.6, 241.2, 240.4, 240.3, 237.8, 237.8, 236.1], 'Single_Family_Benchmark': [266800, 269200, 271900, 274300, 276700, 278900, 280500, 282300, 284500, 286300, 287400, 288700, 292500, 297300, 302900, 308700, 315400, 320800, 324500, 328000, 331200, 332200, 333300, 333300, 337300, 342600, 348200, 354100, 360000, 364500, 366100, 367400, 368200, 368000, 367200, 366400, 368000, 371500, 374100, 375700, 376000, 375200, 372500, 370100, 367400, 363200, 358100, 352200, 348800, 346600, 346400, 348500, 351700, 355200, 358600, 362400, 365800, 369000, 371700, 373600, 377100, 382100, 386100, 388800, 389600, 388800, 386700, 384800, 383700, 382900, 382900, 382700, 384800, 388800, 393300, 397100, 399700, 401100, 402100, 402900, 402700, 402700, 401900, 401300, 402700, 406400, 411200, 415200, 418100, 418700, 418100, 417300, 416500, 416000, 414400, 413300, 413600, 416500, 420800, 424800, 428300, 429600, 430200, 430400, 431200, 431800, 432600, 432300, 434400, 439500, 444000, 448000, 451800, 454200, 454700, 454700, 455500, 456800, 457100, 457400, 458700, 462400, 467500, 471800, 475800, 479300, 481400, 482500, 484900, 486200, 488600, 489100, 492300, 499800, 508900, 519300, 533200, 542200, 547000, 550800, 554000, 557200, 559000, 559800, 567900, 579900, 601500, 619600, 625500, 624700, 614300, 608700, 608900, 607900, 606800, 606800, 608700, 616100, 623400, 627100, 631100, 629800, 627600, 624400, 622600, 622000, 618800, 616700, 613500], 'One_Storey_Benchmark': [293000, 295900, 299400, 302400, 305000, 307100, 308500, 310600, 312600, 314400, 315500, 316400, 320800, 326400, 332500, 339000, 346000, 351600, 355100, 358000, 360700, 361500, 362400, 362700, 366500, 372700, 378800, 385300, 391400, 396400, 398200, 399300, 399300, 399300, 398500, 397300, 399300, 403400, 406700, 408400, 408700, 407500, 404300, 402000, 399000, 394700, 389400, 382600, 379100, 378000, 378000, 380600, 384400, 388200, 392000, 396100, 399900, 403700, 406100, 407500, 411600, 417800, 423100, 425700, 426900, 425700, 424200, 421900, 420400, 419600, 419900, 419300, 422200, 426900, 432500, 436800, 440400, 441500, 442700, 443300, 443300, 443300, 442700, 442400, 444500, 449400, 455600, 460900, 463800, 464700, 463800, 462900, 462300, 461200, 459700, 458800, 459100, 463200, 468500, 472900, 477000, 478700, 479300, 479900, 480800, 482000, 483100, 482600, 485500, 491600, 497200, 502200, 506600, 509200, 510100, 509500, 510400, 511600, 512100, 512700, 514500, 519800, 526200, 531800, 536500, 540900, 543500, 545000, 547600, 548800, 551700, 552600, 557300, 565800, 576900, 590100, 608800, 619100, 624100, 628200, 632000, 635500, 636700, 638100, 648100, 662700, 688200, 707000, 709900, 704900, 686500, 677400, 676500, 672700, 670400, 667700, 668300, 675000, 681200, 683200, 687100, 684100, 680900, 676500, 674500, 673900, 672100, 669200, 666300], 'Two_Storey_Benchmark': [240600, 243400, 246300, 248700, 251600, 253300, 255200, 257600, 259600, 261000, 262200, 263400, 267000, 272300, 278300, 284300, 291600, 297600, 301700, 305300, 307400, 308400, 309800, 311000, 314900, 320700, 326700, 332900, 339400, 345000, 346400, 347600, 347400, 346400, 345200, 344000, 345200, 348800, 352400, 354300, 354800, 353600, 351000, 348600, 345700, 341400, 336100, 329100, 326400, 325000, 325200, 327400, 330300, 332700, 335600, 338500, 341100, 343800, 345200, 346900, 349100, 353900, 358200, 360400, 361100, 360600, 359400, 356800, 354800, 353600, 352900, 352200, 353100, 357000, 361800, 365700, 368300, 369500, 370500, 370000, 369000, 369300, 369000, 367800, 369700, 372900, 378400, 383000, 386100, 386800, 385600, 385900, 384700, 383200, 383000, 381800, 381800, 385400, 389700, 393300, 397400, 398800, 398400, 398600, 401000, 401500, 402200, 401000, 403200, 408000, 412300, 416600, 420000, 422200, 422400, 421500, 421900, 421700, 421900, 421500, 423400, 426300, 432000, 435900, 437600, 440500, 442400, 442600, 445300, 445800, 447900, 449100, 451100, 457300, 465500, 474900, 490700, 499400, 503000, 505400, 507300, 508800, 508300, 510000, 516000, 526300, 544600, 558100, 562400, 560000, 550400, 543900, 544900, 540500, 537400, 537200, 538600, 542700, 549000, 550900, 555000, 551600, 548200, 545800, 543200, 543700, 539600, 535700, 532600], 'Townhouse_Benchmark': [334000, 337000, 341000, 344000, 346000, 348400, 349400, 351000, 353000, 355000, 356000, 356700, 361700, 367100, 373700, 380100, 386800, 391400, 393800, 396100, 398800, 399800, 400100, 399500, 403100, 409500, 415500, 421500, 427500, 431900, 433500, 434200, 435200, 435900, 435200, 434900, 437200, 441900, 444500, 446200, 446200, 445200, 441500, 439200, 436900, 432500, 427500, 421200, 417200, 415800, 416200, 419200, 423800, 428800, 433200, 438500, 443500, 448200, 451900, 452900, 458900, 465900, 471900, 475300, 476600, 474900, 472900, 470900, 470300, 469600, 470600, 470600, 475300, 480600, 486300, 491600, 495600, 496600, 498300, 499700, 500700, 500300, 499700, 499700, 502300, 509000, 515400, 521000, 523700, 524700, 524000, 522700, 522000, 521400, 519400, 518400, 519000, 523400, 529000, 534400, 538700, 540700, 542100, 542700, 542700, 543700, 545700, 545400, 549100, 556400, 562800, 568500, 573800, 576500, 577800, 578100, 579100, 581800, 582800, 584200, 585800, 592800, 599900, 606900, 614200, 619900, 623200, 625900, 627900, 629900, 633300, 634300, 640900, 651600, 665000, 681300, 702100, 713700, 720100, 725100, 730800, 735800, 738500, 739800, 752800, 770900, 802300, 825300, 827000, 820000, 794200, 783200, 780500, 777200, 775500, 770900, 770900, 779500, 785600, 787600, 791200, 789200, 785900, 779900, 778200, 776900, 776200, 773900, 771500], 'Apartment_Benchmark': [212900, 214000, 215300, 216800, 218500, 220200, 221900, 223400, 225100, 226800, 228100, 229100, 231900, 235500, 240000, 245300, 251700, 257900, 262600, 267200, 271500, 273600, 275800, 277000, 279800, 283600, 287900, 292100, 297000, 301300, 302600, 304100, 304900, 304100, 303400, 303000, 304100, 304900, 306600, 307500, 307900, 307700, 306000, 303400, 300900, 297900, 294300, 289400, 286600, 283600, 280900, 281300, 282600, 284500, 286600, 288700, 291500, 293900, 295600, 297700, 299800, 302600, 305800, 309000, 310500, 310700, 309200, 307500, 307100, 305800, 305100, 304700, 304500, 307300, 310200, 312000, 313400, 314500, 315800, 316600, 317100, 317100, 316400, 316000, 315800, 317500, 320000, 323200, 324500, 325200, 325600, 325400, 324300, 324700, 323900, 323200, 323200, 324700, 327100, 329000, 332000, 333900, 333200, 333000, 333900, 334500, 334900, 334500, 336400, 339600, 342800, 346200, 348600, 350500, 351100, 352600, 354100, 354500, 355600, 355000, 355600, 357900, 361400, 363300, 367100, 369700, 370900, 370900, 372200, 373900, 375600, 376700, 379000, 383300, 390500, 397300, 406100, 413900, 419900, 423300, 425900, 427800, 430100, 428900, 432700, 440100, 455300, 472300, 482100, 484000, 484000, 481000, 480200, 480800, 478700, 480600, 484200, 487400, 494200, 499300, 502700, 504900, 505100, 501900, 501700, 499600, 497800, 495300, 491700]})

In [41]:
from collections import defaultdict
city_info=defaultdict(list)
for i in result:
        if i[1]=="Aggregate":
            city_info["Date"].append(i[2])
print(dict(city_info))

{'Date': ['2005-01-01 00:00:00.000000', '2005-02-01 00:00:00.000000', '2005-03-01 00:00:00.000000', '2005-04-01 00:00:00.000000', '2005-05-01 00:00:00.000000', '2005-06-01 00:00:00.000000', '2005-07-01 00:00:00.000000', '2005-08-01 00:00:00.000000', '2005-09-01 00:00:00.000000', '2005-10-01 00:00:00.000000', '2005-11-01 00:00:00.000000', '2005-12-01 00:00:00.000000', '2006-01-01 00:00:00.000000', '2006-02-01 00:00:00.000000', '2006-03-01 00:00:00.000000', '2006-04-01 00:00:00.000000', '2006-05-01 00:00:00.000000', '2006-06-01 00:00:00.000000', '2006-07-01 00:00:00.000000', '2006-08-01 00:00:00.000000', '2006-09-01 00:00:00.000000', '2006-10-01 00:00:00.000000', '2006-11-01 00:00:00.000000', '2006-12-01 00:00:00.000000', '2007-01-01 00:00:00.000000', '2007-02-01 00:00:00.000000', '2007-03-01 00:00:00.000000', '2007-04-01 00:00:00.000000', '2007-05-01 00:00:00.000000', '2007-06-01 00:00:00.000000', '2007-07-01 00:00:00.000000', '2007-08-01 00:00:00.000000', '2007-09-01 00:00:00.000000', '2007-10-01 00:00:00.000000', '2007-11-01 00:00:00.000000', '2007-12-01 00:00:00.000000', '2008-01-01 00:00:00.000000', '2008-02-01 00:00:00.000000', '2008-03-01 00:00:00.000000', '2008-04-01 00:00:00.000000', '2008-05-01 00:00:00.000000', '2008-06-01 00:00:00.000000', '2008-07-01 00:00:00.000000', '2008-08-01 00:00:00.000000', '2008-09-01 00:00:00.000000', '2008-10-01 00:00:00.000000', '2008-11-01 00:00:00.000000', '2008-12-01 00:00:00.000000', '2009-01-01 00:00:00.000000', '2009-02-01 00:00:00.000000', '2009-03-01 00:00:00.000000', '2009-04-01 00:00:00.000000', '2009-05-01 00:00:00.000000', '2009-06-01 00:00:00.000000', '2009-07-01 00:00:00.000000', '2009-08-01 00:00:00.000000', '2009-09-01 00:00:00.000000', '2009-10-01 00:00:00.000000', '2009-11-01 00:00:00.000000', '2009-12-01 00:00:00.000000', '2010-01-01 00:00:00.000000', '2010-02-01 00:00:00.000000', '2010-03-01 00:00:00.000000', '2010-04-01 00:00:00.000000', '2010-05-01 00:00:00.000000', '2010-06-01 00:00:00.000000', '2010-07-01 00:00:00.000000', '2010-08-01 00:00:00.000000', '2010-09-01 00:00:00.000000', '2010-10-01 00:00:00.000000', '2010-11-01 00:00:00.000000', '2010-12-01 00:00:00.000000', '2011-01-01 00:00:00.000000', '2011-02-01 00:00:00.000000', '2011-03-01 00:00:00.000000', '2011-04-01 00:00:00.000000', '2011-05-01 00:00:00.000000', '2011-06-01 00:00:00.000000', '2011-07-01 00:00:00.000000', '2011-08-01 00:00:00.000000', '2011-09-01 00:00:00.000000', '2011-10-01 00:00:00.000000', '2011-11-01 00:00:00.000000', '2011-12-01 00:00:00.000000', '2012-01-01 00:00:00.000000', '2012-02-01 00:00:00.000000', '2012-03-01 00:00:00.000000', '2012-04-01 00:00:00.000000', '2012-05-01 00:00:00.000000', '2012-06-01 00:00:00.000000', '2012-07-01 00:00:00.000000', '2012-08-01 00:00:00.000000', '2012-09-01 00:00:00.000000', '2012-10-01 00:00:00.000000', '2012-11-01 00:00:00.000000', '2012-12-01 00:00:00.000000', '2013-01-01 00:00:00.000000', '2013-02-01 00:00:00.000000', '2013-03-01 00:00:00.000000', '2013-04-01 00:00:00.000000', '2013-05-01 00:00:00.000000', '2013-06-01 00:00:00.000000', '2013-07-01 00:00:00.000000', '2013-08-01 00:00:00.000000', '2013-09-01 00:00:00.000000', '2013-10-01 00:00:00.000000', '2013-11-01 00:00:00.000000', '2013-12-01 00:00:00.000000', '2014-01-01 00:00:00.000000', '2014-02-01 00:00:00.000000', '2014-03-01 00:00:00.000000', '2014-04-01 00:00:00.000000', '2014-05-01 00:00:00.000000', '2014-06-01 00:00:00.000000', '2014-07-01 00:00:00.000000', '2014-08-01 00:00:00.000000', '2014-09-01 00:00:00.000000', '2014-10-01 00:00:00.000000', '2014-11-01 00:00:00.000000', '2014-12-01 00:00:00.000000', '2015-01-01 00:00:00.000000', '2015-02-01 00:00:00.000000', '2015-03-01 00:00:00.000000', '2015-04-01 00:00:00.000000', '2015-05-01 00:00:00.000000', '2015-06-01 00:00:00.000000', '2015-07-01 00:00:00.000000', '2015-08-01 00:00:00.000000', '2015-09-01 00:00:00.000000', '2015-10-01 00:00:00.000000', '2015-11-01 00:00:00.000000', '2015-12-01 00:00:00.000000', '2016-01-01 00:00:00.000000', '2016-02-01 00:00:00.000000', '2016-03-01 00:00:00.000000', '2016-04-01 00:00:00.000000', '2016-05-01 00:00:00.000000', '2016-06-01 00:00:00.000000', '2016-07-01 00:00:00.000000', '2016-08-01 00:00:00.000000', '2016-09-01 00:00:00.000000', '2016-10-01 00:00:00.000000', '2016-11-01 00:00:00.000000', '2016-12-01 00:00:00.000000', '2017-01-01 00:00:00.000000', '2017-02-01 00:00:00.000000', '2017-03-01 00:00:00.000000', '2017-04-01 00:00:00.000000', '2017-05-01 00:00:00.000000', '2017-06-01 00:00:00.000000', '2017-07-01 00:00:00.000000', '2017-08-01 00:00:00.000000', '2017-09-01 00:00:00.000000', '2017-10-01 00:00:00.000000', '2017-11-01 00:00:00.000000', '2017-12-01 00:00:00.000000', '2018-01-01 00:00:00.000000', '2018-02-01 00:00:00.000000', '2018-03-01 00:00:00.000000', '2018-04-01 00:00:00.000000', '2018-05-01 00:00:00.000000', '2018-06-01 00:00:00.000000', '2018-07-01 00:00:00.000000', '2018-08-01 00:00:00.000000', '2018-09-01 00:00:00.000000', '2018-10-01 00:00:00.000000', '2018-11-01 00:00:00.000000', '2018-12-01 00:00:00.000000', '2019-01-01 00:00:00.000000']}